/* Pseudo Elements */

p::first-line {
    font-weight: bold;
    color: darkred;
    letter-spacing: 2px;
    word-spacing: 2px;
}

p::first-letter {
    font-size: 50px;
}


/* Pseudo Class */

ul li {
    padding: 10px;
    margin-bottom: 10px;
}

ul li:first-child {
    background-color: darkmagenta;
}

ul li:last-child{
    background-color: blueviolet;
}

a:visited{
    color: crimson;
}

a:hover{
    background-color: chocolate;
}

a{
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    width: 100px;
    margin-bottom: 10px;
}